
body {
    margin: 0;
    padding: 0;
    background-color: seashell;
}

/* set all elements font family */
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* sets all items in navbar side by side */
nav {
    background-color: seagreen;
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin: 0;
}

nav h1 {
    margin: auto;
    font-size: 2em;
    color: seashell;
}

/* sets link for button in nav bar */
nav a {
    color: seashell;
    padding: 5px;
    background-color: slateblue;
    height: 15px;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 10px;
    text-decoration: none;
}

/* add affect to button while hovering */
nav a:hover {
    color: springgreen;
    opacity: .7;
}

/* styling for whole timer*/
#timer {
    background-color: seashell;
    height: 20px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 2px;
    border-radius: 10px;
}

/* styling for just the time */
#time {
    background-color: springgreen;
    border-radius: 15px;
    padding: 1px;
}

/* main container styling */
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   margin: auto;
}

/* styling for choices ingame html */
.choice {
    display: flex;
    background-color: slateblue;
    color: seashell;
    width: auto;
    height: auto;
    margin: 2px;
    font-size: 1.5;
    border-radius: 10px;
    padding: 2px;
}

/* styling for choices ingame html while over element*/
.choice:hover {
    cursor: pointer;
    color: springgreen;
    box-shadow: 10px 5px 5px  springgreen;
    transition: .5s;
}

/* pushes answers away from the letters */
.key {
    margin-right: 10px;
}

/* button styling for ingame buttons */
button {
    width: 200px;
    height: auto;
    min-width: 100px;
    min-width: 50px;
    background-color: slateblue;
    color: seashell;
    font-size: 20px;
    border-radius: 10px;
    border: none;    
}

/* button styling for start game and save score */
.startBtn{
    border-radius: 10px;
    height: 50px;
    width: 100px;
}

/* styling while over buttons ingame html */
button:hover {
    cursor: pointer;
    color: springgreen;
    padding: 20px;
    transition: .5s;
}

/* styling while over buttons start game a nd save score*/
.startBtn:hover{
    height: 75px;
    width: 125px;
}

/* puts save button next to input */
form {
    display: flex;
}

input {
font-size: 20px;
margin-right: 10px;

}

ul{
    background-color: seagreen;
    padding: 5px;
    list-style: none;
    border-radius: 10px;
}
li{
    font-size: 20px;
    text-align: center;
}