body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    background-color: seagreen;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

nav h1 {
    margin: auto;
    font-size: 2em;
    color: seashell;
}

nav a {
    color: seashell;
    padding: 5px;
    background-color: slateblue;
    height: 15px;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 10px;
    text-decoration: none;
}

nav a:hover {
    color: springgreen;
    opacity: .7;
}

#timer {
    background-color: seashell;
    height: 20px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 2px;
    border-radius: 10px;
}

#time {
    background-color: springgreen;
    border-radius: 15px;
    padding: 1px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   margin: auto;
}

.choice {
    display: flex;
    background-color: slateblue;
    color: seashell;
    width: auto;
    height: auto;
    margin: 2px;
    font-size: 1.5;
    border-radius: 10px;
    padding: 2px;
}

.choice:hover {
    cursor: pointer;
    color: springgreen;
    box-shadow: 10px 5px 5px  springgreen;
    transition: .5s;
}

.key {
    margin-right: 10px;
}

button {
    width: 100px;
    height: 50px;
    background-color: slateblue;
    color: seashell;
    font-size: 20px;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
    color: springgreen;
    width: 110px;
    height: 60px;
    transition: .5s;
}